*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


html{
  font-size: 25px;
  background-color: rgb(44, 43, 43);
  background-size: 100% 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
 
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.btn{
  margin: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  outline: none;
}

.btn:hover{
  transform: scale(1.3);
}

img{
  width: 250px;
  height: 250px;  
}

.text-line{
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.text{
  margin: 50px;
}

#output{
  font-size: 35px;
  font-style:italic;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

h1 {
  font-style:italic;
}

h2{
  font-size: 30px;
  color:hotpink;
}